<table  class="table table-hover grid">
    <thead id="widthmax" class="thead-inverse">
        <tr class="row">
            <th class="col-md-3">ID campaigns</th>
            <th class="col-md-3">Start</th>
            <th class="col-md-3">End</th>
            <th class="col-md-3">Brand</th>
        </tr>
    </thead>
    <tbody id="campaigns">

    </tbody>
</table>
<div class="row">

  <div class="col-sm-10">
    <!-- FORM ============ -->

    <form name="userForm" ng-submit="submitForm()" novalidate>

      <!-- Brand -->
      <div class="form-group" ng-class="{ }">
        <label>Brand</label>
        <select class="form-control" name="singleSelect" id="ListBrands" ng-model="data.singleSelect" required>
        </select>
        <p ng-show="userForm.brand.$invalid && !userForm.name.$pristine" class="help-block">You brand is required.</p>
      </div>

      <!-- Start -->
      <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
        <label>Start campaign</label>
          <input ng-model="dates.start" id="start" class="form-control" datepicker-popup="MM/dd/yyyy" utc init-date="today" max-date="dates.end" is-open="open.start" ng-click="open.start = true" data-before-render="startDateBeforeRender($dates)" />
          <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>
      </div>

      <!-- End -->
      <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
        <label>End campaign</label>
        <input ng-model="dates.end" id="end" class="form-control" datepicker-popup="MM/dd/yyyy" utc init-date="utcToDate(dates.start).toLocaleString()" min-date="utcToDate(dates.start).getTime() + oneDay" is-open="open.end" ng-click="open.end = true" />

      </div>


      <button id="addCamp" type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>

    </form>
  </div>

